body {
  font-family: sans-serif;
}

div {
  width: 10rem;
  height: 10rem;
  border: red solid;
  background: hsl(0, 100%, 75%);
  border-radius: 1rem;
  margin: 1.25rem;
  padding: 1rem;
  transition: all 1.5s ease;
  display: inline-block;
}

[data-score]:after {
	content: " " attr(data-score);
}

[data-score] {
	filter: hue-rotate( attr(data-score deg) );
}